table.table-initable tr.even {
    background: #00000025;
}
table.table-initable th.sorting {
    text-align: left;
}
table.table-initable td {
    width: 100%;
}
table.table-initable td.actions,
table.table-initable td.status {
	position: relative;
	left: 12px;
}
button#clear-transients {
    margin: 15px 0;
}
div.trimmer {
	background: #000;
	height: 1px;
	margin: 35px 0 25px 0;
}
h2.table-title {
	font-size: 20px !important;
	font-weight: 500 !important;
	text-align: center;
}